@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color:oldlace;
}
body{
    background-color: black;
    margin:0 20%;
}
h1, #title{
    text-align: center;
    text-shadow: 5px 5px 10px peru;
    font-size: 3em;
}
img{
    display: block;
    width:100%;
    
}
#img-caption{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
#tribute-info{
    background-color: rgba(255, 127, 80,0.1);
    box-shadow: 20px 20px 15px brown;
    padding: 10px;
    margin-top: 20px;
}
.title-content{
    color:white;
    text-align: center;
    text-shadow: 5px 5px 10px purple;
    font-family: sans-serif;
}
a{
    margin: 0 30px 0 0;
}
.wiki{
    border-radius: 5px;
    background-color: gainsboro;
    color:white;
    padding: 14px 40px 14px 40px;

}
.wiki:hover{
    color:purple;
    background-color: black;
}
.yt{
    border-radius: 5px;
    background-color: red;
    color:white;
    padding: 14px 40px 14px 40px;

}
.yt:hover{
    color:green;
    background: black;
}
.store{
    border-radius: 5px;
    background-color: orange;
    color:white;
    padding: 14px 40px 14px 40px;

}
.store:hover{
    color:blue;
    background: black;
}
.award{
    text-align: center;
    margin-top: 50px;
    color:white;
    text-align: center;
    text-shadow: 5px 5px 10px purple;
    font-family: sans-serif;

}

.honour{
    text-align: center;
    margin: 40px 30px 0 40px;
    padding-top: 30px;
    border-radius: 5px;
    border-style: groove;
    font-size: 25px;
}
.info{
    background-color: rgba(255, 127, 80,0.1);
    box-shadow: 20px 20px 15px brown;
    padding: 10px;
    margin-top: 20px;
}

